/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #e1dede;
}



/* Main Content */
.main-content {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.refund-banner {
    background-color: #eef7ff;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #bde0fe;
    color: #333;
    text-align: center;
}

.train-card {
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 8px;
}

.train-header h2 {
    margin: 0;
    font-size: 1.5em;
}

.train-details {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.classes {
    display: flex;
    gap: 10px;
}

.class-card {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    flex: 1;
}

.tatkal {
    background-color: #fbbf24;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.8em;
}


.time-style{
    border: 1px solid var(--font-clr);
    border-radius: 3px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    row-gap: 5px;
}
.grid-item {
    padding: 8px;
    font-size: 14px;
    text-align: center;
}
.check-form{
    display: flex; 
    justify-content: space-between; 
    font-size: 14px;
    padding: 10px;
}
:host ::ng-deep .p-card{
    margin-bottom: 20px;
}
.card-header{
    font-size: 16px;
    color: #000;
    font-weight: 900;
}
input[type="checkbox"]{
    width: 17px; /*Desired width*/
    height: 17px; /*Desired height*/
  }
