<div class="container">
    <div class="booking-card">
        <div class="flex-container">
            <div class="booking-types flex-container">
                <div class="cat-style"> 
                    <i  class="fa-solid fa-plane-departure cat-icon-style"></i>
                    <span class="cat-font-style">Flights</span>
                </div>
                <div class="cat-style"> 
                    <i  class="fa-solid fa-hotel cat-icon-style"></i>
                    <span class="cat-font-style">Hotels</span>
                </div>
                <div class="cat-style">
                    <i  class="fa-solid fa-house cat-icon-style"></i>
                    <span class="cat-font-style">Homestays & Villas</span>
                </div>
                <div class="cat-style">
                    <i  class="fa-solid fa-umbrella-beach cat-icon-style"></i>
                    <span class="cat-font-style">Holiday Packages</span>
                </div>
                <div class="cat-style selected">
                    <i  class="fa-solid fa-train-subway cat-icon-style"></i>
                    <span class="cat-font-style">Trains</span>
                </div>
                <div class="cat-style">
                    <i  class="fa-solid fa-bus cat-icon-style"></i>
                    <span class="cat-font-style">Buses</span>
                </div>
                <div class="cat-style">
                    <i  class="fa-solid fa-taxi cat-icon-style"></i>
                    <span class="cat-font-style">Cabs</span>
                </div>
                <div class="cat-style">
                    <i  class="fa-solid fa-credit-card cat-icon-style"></i>
                    <span class="cat-font-style">Forex Card & Currency</span>
                </div>
                <div class="cat-style">
                    <i  class="fa-solid fa-shield-heart cat-icon-style"></i>
                    <span class="cat-font-style">Travel Insurance</span>
                </div> 
            </div>                
        </div>
        <div class="ticket-type ">
            <form style="display: flex; align-items: center;" >
                <div class="radio-spacing">
                    <input type="radio" value="Book Train Tickets" checked name="selectedType">
                    <label class="fnt-w-400 fnt-s-14">Book Train Tickets</label>
                </div>
                <div class="radio-spacing">
                    <input type="radio" value="Check PNR Status" name="selectedType">
                    <label class="fnt-w-400 fnt-s-14">Check PNR Status</label>
                </div>
                <div class="radio-spacing">
                    <input type="radio" value="Live Train Status" name="selectedType">
                    <label class="fnt-w-400 fnt-s-14">Live Train Status</label>
                </div>               
            </form>
            <div style="display: block; margin-right: 16px;">
                <h5 style="margin: 0; color: var(--font-clr);display: flex; justify-content: center;">Train Ticket Booking</h5>
                <p style="margin: 0; font-size: 12px; color: var(--font-clr); display: flex; justify-content: center;">IRCTC Authorized e-ticketing</p>
            </div>
        </div>

        <div class="search-container">            
            <form class="search-form" [formGroup]="travelForm">
                <mat-form-field class="no-underline search-form-field">
                    <label class="input-label">From</label>
                    <input matInput #input type="text"
                        placeholder="Select city"
                        [matAutocomplete]="fromauto"
                        formControlName="fromStation"
                        >
                    <mat-autocomplete requireSelection #fromauto="matAutocomplete" (optionSelected)="onFromStationChange($event)">
                    @for (option of locations; track option) {
                        <mat-option [value]="option.name">{{option.name}}</mat-option>
                    }
                    </mat-autocomplete>
                    <div *ngIf="travelForm.get('fromStation')?.touched && travelForm.get('fromStation')?.errors?.['required']" class="error">
                        From station is required.
                    </div>
                </mat-form-field>
                <mat-form-field class="no-underline search-form-field">
                    <label class="input-label">To</label>
                    <input matInput #input type="text"
                        placeholder="Select city"
                        [matAutocomplete]="toauto"
                        formControlName="toStation"
                        >
                    <mat-autocomplete requireSelection #toauto="matAutocomplete">
                    @for (option of filteredLocations; track option) {
                        <mat-option [value]="option.name">{{option.name}}</mat-option>
                    }
                    </mat-autocomplete>
                    <div *ngIf="travelForm.get('toStation')?.touched && travelForm.get('toStation')?.errors?.['required']" class="error">
                        To station is required.
                    </div>
                </mat-form-field>
                <mat-form-field class="no-underline search-form-field">
                    <label class="input-label">Travel Date</label>
                    <input matInput [matDatepicker]="picker" [min]="minDate" formControlName="travelDate"  (click)="picker.open()">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <div *ngIf="travelForm.get('travelDate')?.touched && travelForm.get('travelDate')?.errors?.['required']" class="error">
                        Travel date is required.
                    </div>            
                </mat-form-field>
                <mat-form-field class="no-underline search-form-field">
                    <label class="input-label">Class</label>
                    <input 
                        matInput
                        type="text"
                        placeholder="Select class"
                        formControlName="travelClass"
                        [matAutocomplete]="auto"
                    >
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    @for (option of classes; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                    }
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </div>
        <div class="flex-container">
            <button class="search-button" (click)="onSearch()">SEARCH</button>
        </div>
   </div>
</div>